/* Other existing styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background Animation */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Glassmorphism Effect */
.glassmorphism {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 10px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

/* Other existing styles */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.home-page-layout {
  /* background: radial-gradient(circle, #34495e, #eceff1); --{circle} */
  background: linear-gradient(to bottom, #282c34, #3e444e); /* Dark Mode*/
  /* background: linear-gradient(to bottom, #f0f0f0, #e8e8e8); Light Mode */
  /* background: linear-gradient(to bottom, #2C3E50, #607D8B, #ECEFF1); --{linear}*/

  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

/* ==== clerk class override ===== */
.cl-providerIcon__github {
  filter: invert(1);
}
.cl-providerIcon__apple {
  filter: invert(1);
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}

.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}

.cl-userButtonPopoverActionButton {
  color: white;
}

.auth-main-container {
  background-image: url("../public/icons/login-min.jpg");
  background-size: cover; /* Adjusts the image to cover the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* Utility classes */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */
.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
